body{
    background: url(../img/background.jpg) lightgoldenrodyellow repeat-x bottom ;
}
.bold{
    font-weight: bold;
}
ul{
    list-style-type: lower-roman;
}
.color{
    color: darkblue;
    font-size: 2rem;
}
body{
    background-color:lightgoldenrodyellow;
}
.bold{
    font-weight: bold;
}